<div class="container">
  <footer class="footer">
    <small>
      First Ruby on Rails made by Zach Guerrin 2019 
    </small>
    <nav>
      <ul>
        <li><%= link_to  "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>